#donorsposter
{
    padding-top: 150px;
    width: 80%;
    display: block;
    margin: 0 auto;
}

h1
{
    font-size: 200%;
}

#NJSN
{
    width: 200px;
    display: block;
    margin: 0 auto;
}

#quote
{
    width: 80%;
}


#video
{
    margin-left: 30px;
    width: 80%;
}

#butterfly
{
    display: none;
}

#donate, #accept, #grieve
{
    margin: 0 auto;
    margin-top: 10px;
}