#donorsposter
{
    padding-top: 150px;
    width: 80%;
    display: block;
    margin: 0 auto;
}

h1
{
    font-size: 36px;
}

h2
{
    font-size: 100%;
}
#NJSN
{
    width: 200px;
    display: block;
    margin: 0 auto;
}

#quote
{
    width: 80%;
    position: center;
    font-size: 14px;
}


#video
{  
    width: 80%;
    position: center;
}

#butterfly
{
    display: none;
}

#donate, #accept, #grieve
{
    margin: 0 auto;
    margin-top: 10px;
}

#process p 
{
    font-size: 14px;
}